body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('level101.jpg'); /* Specify the path to your background image */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire viewport */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity to the background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    display: block;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
