* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #313e51;
    --font-color-primary: #fffffc;
    --font-color-secondary: #8f9fb6;
    --component-bg-color: #3c4d67;
    --button-hover-color: #ffffff33;
    --submit-font-color: #fffffc;
}

.light {
    --bg-color: #FFFFF7;
    --font-color-primary: #222222;
    --font-color-secondary: #8f9fb6;
    --component-bg-color: #3c4d6766;
    --button-hover-color: #7b32a893;
    --submit-font-color: #fffffc;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: var(--font-color-primary);
    touch-action: manipulation;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20rem;
}

.quiz-title {
    visibility: hidden;
    font-size: 1.8rem;
}

.theme-switch-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #7b32a8;
    border-color: #7b32a8;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #7b32a8;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%;
    margin: 0 20rem;
    padding: 10rem 0;
}

.heading-section {
    width: 50%;
}

.heading-section h1 {
    color: var(--font-color-primary);
    font-size: 5rem;
    font-weight: 300;
}

.heading-section span {
    font-weight: 800;
}

.heading-section h3 {
    color: var(--font-color-secondary);
    font-size: 1.5rem;
    font-weight: 300;
} 


.topic-selection, .answers {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.topic-selection button, .answers button {
    background-color: var(--component-bg-color);
    border: none;
    font-size: 1.5rem;
    color: var(--font-color-primary);
    text-align: start;
    padding: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 1rem;
    transition: all 0.2s;
}

.topic-selection button:hover, .answers .option:hover {
    transition: all 0.2s;
    background: var(--button-hover-color);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
}

.topic-selection button i, .quiz-title i {
    margin-right: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.option-1 i {
    color: #b9e9fe;
    background-color: #b9e9fe8e;
}

.option-2 i {
    color: #ec644b;
    background-color: #ec634b6d;
}

.option-3 i {
    color: #d5ebda;
    background-color: #d5ebda7b;
}
.option-4 i {
    color: #f4baec;
    background-color: #f4baec86;
}

.option-selected {
    background: rgba(123, 50, 168, 0.806) !important;
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
}

.correct-answer {
    background: rgba(0, 255, 0, 0.499) !important;
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
}

.incorrect-answer {
    background: rgba(255, 50, 50, 0.713) !important;
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
}

.submit {
    width: max-content;
    align-self: center;
    font-size: 1.2rem !important;
    background-color: #7b32a8 !important;
    padding: 1rem 5rem !important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.submit:hover {
    transform: scale(1.1);
}

.submit:active {
    transform: scale(1);
}

.next-ques {
    display: none;
}

.question-section {
    opacity: 0;
    display: none;
    transition: all 0.3s;
}

.oldPage {
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-40%);
}

.newPage {
    opacity: 1;
    transition: all 0.3s;
}

.result {
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}

.result .heading-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.result .heading-section {
    width: max-content;
    text-align: center;
}

.result .heading-section h3 {
    color: var(--font-color-primary);
    font-size: 3.5rem;
}

.result .heading-section h2 {
    font-size: 5rem;
}

.result .submit {
    display: block !important;
    visibility: visible !important;
    opacity: 1;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    color: var(--font-color-primary);
}

.submit {
    color: var(--submit-font-color) !important;
}

